.mock-text {
  padding-top: 40px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.wrapper {
  padding-top: 30px;
  width: 100%;
}